@import url(../css/colors.css);
@import url(../css/geral.css);

h1 {
    text-align: center;
    font-family: 'rainyhearts';
    font-size: 70px;
}

.pictures {
    width: 200px;
    height: 220px;
    border-radius: 50%;
    margin-bottom: 15px;

}

.cardStyle {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: transparent;
    gap: 10px;
    border-radius: 20px;
    padding: 30px;

}

h3 {
    font-family: 'Minecraftia';
    color: black;
    font-size: 26px;
}

.cards p {
    color: gray;
    font-family: 'rainyhearts';
    font-size: 25px;
}

.icones {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 15px;
}