@import url(./colors.css);

@font-face {
    font-family: 'Minecraftia';
    src: url(../fonts/Minecraftia-Regular.ttf);
}

@font-face {
    font-family: 'rainyhearts';
    src: url(../fonts/rainyhearts.ttf);
}

@font-face {
    font-family: 'VCR';
    src: url(../fonts/VCR_OSD_MONO_1.001.ttf);
}



body {
    width: 100%;
    min-height: 100vh;
    background-color: var(--pale-white);
}

body::-webkit-scrollbar {
    width: 7px;
    /* width of the entire scrollbar */
}


body::-webkit-scrollbar-thumb {
    background-color: var(--wine);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 1px solid var(--pale-white);
    /* creates padding around scroll thumb */
}

button,
a {
    cursor: url(../imgs/cursor-click.png), auto !important;
}

header {
    width: 100%;
    background-color: transparent;
    transition: background ease-out 0.2;
}

.a-style {
    font-family: 'VCR';
    font-size: 1.25rem;
    font-weight: bolder;
    color: var(--wine) !important;

}

.card-title-style {
    font-size: 1.3rem;
}

.card-text-style {
    font-size: 1.2rem;
    color: var(--dark);
}

.navbar-collapse {
    width: auto;
}

.nav-link {
    border-bottom: 2px solid transparent !important;
    transition: 0.3s;
}

.nav-link:hover {
    border-bottom: 2px solid var(--wine);
}

.cadastro-style {
    color: var(--dark) !important;
    font-family: 'VCR';
    font-size: 1.5rem;
    position: relative;
    bottom: 0.3em;
    margin-left: 1em;
}

.cadastro-style:focus {
    box-shadow: none !important;
}

@media(min-width:992px) {
    .nav-link {
        margin-left: 10px;
        margin-right: 10px;
    }
}


@media(max-width:991.8px) {
    .navbar-colapse {
        width: 100%;
    }

    .cadastro-style {
        margin-left: 0;
        margin-top: 0.8em;
    }

}