@import url(colors.css);
@import url(geral.css);

body{
    font-family: 'rainyhearts';
}

.title-style{
    color: var(--wine);
    font-family: 'VCR';
}

.main-title-style{
    font-size: 4rem;
}

.img-logo-sec{
    position: relative;
    bottom: 0.5rem;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.card-title-style{
    font-size: 1.3rem;
}

.card-text-style{
    font-size: 1.2rem;
    color: var(--dark);
}

.card-body-style{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-width {
    width: 18rem;
}

.img-card {
    object-fit: cover;    
    height: 200px;
}

.img-card-singular{
    object-position: 100% 0;
}

.sec-3 {
    overflow: hidden;
}

.img-carousel {
    height: 500px;
    object-fit: cover;
}

.img-carousel-position{
    object-fit: cover;
    object-position: 0 25%;
}

.txt-carousel-style{
    color: var(--wine);
    font-family: 'VCR';
    font-size:4rem;
}

.img-inverter {
    transform: scaleX(-1)
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 320px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
    filter: blur(4px);
    background: #d1ebff;
    border-radius: 10px;
}

.swiper-slide-active {
    filter: blur(0);
    background: #fff;

}

.testimonial-box {
    position: relative;
    width: 100%;
    padding: 40px;
    padding-top: 90px;
    color: #999;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
    background-image: none;
}

.quote {
    position: absolute;
    top: 20px;
    right: 30px;
    opacity: 0.2;
}

.details {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.imgBx {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.img-swiper {
    position: absolute;
    width: 100%;
    height: 100%;
    /* object-fit: contain; */
}

.h3-swiper {
    font-size: 1.4rem;
    line-height: 0.8em;
    color: var(--dark);
}

.span-swiper {
    font-size: 1.1rem;
}

.content-swipe-text{
    font-size: 1.2rem;
    color: var(--dark);
}