@import url(../css/btn.css);
@import url(../css/colors.css);
@import url(../css/geral.css);

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.sectionH1{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-bottom: 1rem;
}
.logo{
    max-width: 50px;
    max-height: 30px;
}
.divlogo{
    padding-left: 2rem;

}

.divnav{
    padding-right: 2rem;
}
main{
    /* position: relative;
    bottom: 5rem; */
    font-family: 'Minecraftia';
    display: flex;
    justify-content: center;
}
.form{
    
    display: flex;
    flex-direction: column;
    align-items: center;
   justify-content: center;
    
    border-radius: 2rem;
    width: auto;
    height: auto;
    
}
.invert{
     transform: scaleX(-1)
}
.h1form{
    padding-top: 2rem ;
}
.form-floating{
    width: 20rem;
}
.imgForm{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 10rem;
    padding-bottom: 1rem;
   
    align-items: center;
}
.facebook{
    width: 3rem;
    height: 3rem;
   padding: 0px;
}
.google{
    width: 3rem;
    height: 3rem;
    
}
.espaçamento{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.linkDiv{
    display: flex;
    text-align: end;
    padding-bottom: 1rem;
}
.linkEsqueci{
    text-decoration: none;
    display: flex;
    color: #323232;
    text-align:start ;
}
.linkEsqueci:hover{
    color: #323232;
}
.input-group{
    width: 20rem;
}
.wrapper{
    padding: 0;
}
